@model LandingModel
@{
    Layout = "/Views/Shared/_Root.cshtml";
    Html.AddTitleParts("Welcome");
}

<link href="~/Asserts/css/home.css" rel="stylesheet" />
<div class="game-menu">

    <div class="game-menu__logo">
        <img src="/Asserts/images/Game_Box_Logo.jpg" />
    </div>

    <ul class="game-menu__list">
        @foreach (var menuItem in Model.McGames)
            {
            <li class="game-menu__listitem"><a href="@Url.Action("Play","Mc", new { urlAlias = menuItem.UrlAlias })">@menuItem.Caption</a></li>
        }
        <li class="game-menu__listitem bingo"><a href="@Url.Action("Index", "Bingo")">Bingo</a></li>
    </ul>

</div>
